.options-list {
    list-style-type: none;
}
.options-list > li {
    margin-bottom: 0.7rem;
}
.sub-options-list {
    list-style-type: none;
}
.sub-options-list > li {
    margin-top: 0.7rem;
}
.error-message {
    color: rgb(220, 53, 69);
    margin-left: 40px;
}
