/* green-button */
.custom-success-btn {
    background-color: #198754;
    border: 1px solid #198754;
    cursor: pointer;
    padding: 0.75rem 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    font-family: inherit;
    color: #fff;
}
.custom-success-btn:hover {
    background-color: #157347;
    border-color: #146c43;
}
.custom-success-btn:active {
    background-color: #146c43;
    border-color: #13653f;
}
/* red-button */
.custom-danger-btn {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    cursor: pointer;
    padding: 0.75rem 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    font-family: inherit;
}
.custom-danger-btn:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.custom-danger-btn:active {
    background-color: #b02a37;
    border-color: #a52834;
}
/* modal-window */
.modal {
    position: fixed;
    width: 1054px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px 0;
    z-index: 15;
}
.modal__footer {
    text-align: center;
}
.modal__footer > button:first-of-type {
    margin-right: 20px;
}
