html,
body {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    overflow: auto;
}

.header__title {
    text-align: center;
}
.header__add-btn {
    position: absolute;
    top: 26.8px;
    right: 20px;
}
.hr {
    height: 1px;
    background-color: #ccc;
}
.select-wrapp {
    position: absolute;
    top: 40px;
    right: 170px;
}
main {
    padding: 20px;
}
